In [6]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import pylab
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from scipy import stats
from scipy.stats import zscore
%matplotlib inline

In [2]:
topic = pd.read_csv('LDA/lda_classification.csv')
topic.head()

        date  topic0  topic1  topic2  topic3  topic4  topic5
0  2014/12/2    2518     396     138       3   18677       0
1  2014/12/3    2621     456      14       0   24371       0
2  2014/12/4    3755     570      93       0   34843      13
3  2014/12/5    3341     536      95       1   33455       6
4  2014/12/8    2735     477      23       0   26622       3

In [13]:
#以topic5列为例计算
qt = stats.scoreatpercentile(topic["topic5"],[1,99])#存储两个极端值，用于截断
topic['5'] = topic['topic5'][(topic['topic5']>qt[0])&(topic['topic5']<qt[1])]
topic['5'] = pd.DataFrame(topic['5'])
topic['5'].to_csv('topic5.csv')

In [26]:
cols = list(trancate_topic.columns)
cols.remove('date')
#trancate_topic[cols]
for col in cols:
    col_zscore = col + '_zscore'
    trancate_topic[col_zscore] = (trancate_topic[col] - trancate_topic[col].mean())/trancate_topic[col].std(ddof=0)
trancate_topic.to_csv('trancate_zscore.csv')